<h1 mat-dialog-title>Add meter measurement</h1>
<div mat-dialog-content>
    <form [formGroup]="addForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select meter</mat-label>
            <mat-select formControlName="meterId">
                <mat-option *ngFor="let meter of meters" [value]="meter.id">{{meter.meterType}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Value</mat-label>
            <input formControlName="value" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Unit</mat-label>
            <input formControlName="unit" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addMeterMeasurement()">Add</button>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
