<p>add-pay-ucredentials-dialog works!</p>
<h1 mat-dialog-title>Add premises monthly cost</h1>
<div mat-dialog-content>
    <form [formGroup]="addForm">
        <mat-form-field appearance="outline">
            <mat-label>Client Id</mat-label>
            <input formControlName="payUClientId" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Client secret</mat-label>
            <input formControlName="payUClientSecret" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addPayUCredentials()">Add</button>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->