<mat-nav-list>
    <div class="tittle">
        <h2>Owner</h2>
        <p>{{owner.name}}</p>
    </div>



    <a mat-list-item routerLink="/owner/properties" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Properties
    </a>
    <a mat-list-item routerLink="/owner/premises" routerLinkActive="list-item-active">
        <mat-icon>view_list</mat-icon> Premises
    </a>
    <a mat-list-item routerLink="/owner/rentals" routerLinkActive="list-item-active">
        <mat-icon>assignment</mat-icon> Rentals
    </a>


    <a mat-list-item routerLink="/tenants" routerLinkActive="list-item-active">
        <mat-icon>account_box</mat-icon> Tenants
    </a>
    <a mat-list-item routerLink="/costs" routerLinkActive="list-item-active">
        <mat-icon>account_balance_wallet</mat-icon> Costs
    </a>
</mat-nav-list>
