<mat-nav-list>
    <!-- <div *ngIf="owner.name">
        <h2>Owner</h2>
        <p>{{owner.name}}</p>
    </div> -->

    <!-- <div *ngIf="tenant.name"> -->
        <h2>Tenant</h2>
        <p>{{tenant.name}}</p>
    <!-- </div> -->

    <a mat-list-item routerLink="/users" routerLinkActive="list-item-active">
        <mat-icon>manage_accounts</mat-icon> Owners
    </a>
    <a mat-list-item routerLink="/tenants" routerLinkActive="list-item-active">
        <mat-icon>account_circle</mat-icon> Tenants
    </a>
    <a mat-list-item routerLink="/admins" routerLinkActive="list-item-active">
        <mat-icon>room</mat-icon> Properties
    </a>
</mat-nav-list>