<mat-nav-list>
    <!-- <div *ngIf="owner.name">
        <h2>Owner</h2>
        <p>{{owner.name}}</p>
    </div> -->

    <!-- <div *ngIf="tenant.name"> -->
    <h2>Admin</h2>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <!-- </div> -->

    <a mat-list-item routerLink="/admin/users" routerLinkActive="list-item-active">
        <mat-icon>manage_accounts</mat-icon> Users
    </a>
    <a mat-list-item routerLink="/admin/tenants" routerLinkActive="list-item-active">
        <mat-icon>account_circle</mat-icon> Tenants
    </a>
    <a mat-list-item routerLink="/admin/owners" routerLinkActive="list-item-active">
        <mat-icon>room</mat-icon> Owners
    </a>
</mat-nav-list>
