<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <!-- <p mat-menu-item>Hi {{user.firstName}}</p> -->
    <!-- <button mat-menu-item [routerLink]="['/']">User account</button> -->
    <button mat-menu-item [routerLink]="['/user']">User account</button>
    <div *ngIf=" user.authorities?.includes(authority.Admin)">
        <button mat-menu-item (click)="openAdminPage()">Account {{user.email}}</button>
    </div>

    <div *ngIf=" user.authorities?.includes(authority.Owner)">
        <button mat-menu-item [matMenuTriggerFor]="owners">Choose owner's account</button>
    </div>

    <div *ngIf=" user.authorities?.includes(authority.Tenant)">
        <button mat-menu-item [matMenuTriggerFor]="tenants">Choose tenant's account</button>
    </div>


</mat-menu>

<mat-menu #owners="matMenu">
    <button mat-menu-item *ngFor="let owner of user.owners" (click)="initializeOwner(owner)">{{owner.name}}</button>
</mat-menu>
<!-- <mat-menu #owners="matMenu">
    <button mat-menu-item *ngFor="let owner of user.owners" [routerLink]="['/owner', owner.id]">{{owner.name}}</button>
</mat-menu> -->

<mat-menu #tenants="matMenu">
    <button mat-menu-item *ngFor="let tenant of user.tenants " (click)="initializeTenant(tenant) ">{{tenant.name}}</button>
</mat-menu>
