<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>Propsi</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openLoginDialog()">Login</button>
    <button mat-raised-button color="warn" (click)="openRegisterDialog()">Register</button>
    <button mat-raised-button color="warn" (click)="testOwner()">test owner</button>
    <button mat-raised-button color="warn" (click)="testTenant()">test tenant</button>
    <button mat-raised-button color="warn" (click)="logout()">logout</button>
</mat-toolbar>