.mat-form-field {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container {
    width: 60%;
    margin: auto;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 40px;
}

.group-label {
    width: 100%;
    background-color: #ffb7d4;
    color: rgb(245, 30, 144);
}

.single-premises {
    margin-left: 5%;
    width: 50%;
    min-width: 200px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}

.remove-sinlge-premises-button {
    display: inline;
    float: right;
    line-height: 26px;
}

.single-permises-p {
    display: inline;
}

.single-premises-header {
    margin: 10px;
}

.add-new-premises-button {
    margin-bottom: 40px;
}

.single-meter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    width: fit-content;
    min-width: 200px;
    margin: 15px;
    .horizontal-item {
        margin: 0 0.5rem 0 0;
    }
}

.display-inline {
    display: inline;
}

.width-auto {
    width: auto;
}

.mat-elevation-z8-premises {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.mat-elevation-z8-fixedCosts {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.mat-elevation-z8-address {
    width: 90%;
    p {
        margin-left: 15px;
    }
    padding-bottom: 10px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.mat-elevation-z8-table {
    width: 100%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
    margin: auto;
}

.footer {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}