<p>Properties</p>
<div class="mat-elevation-z8">
    <div>
        <a mat-raised-button color="primary" routerLink="add" routerLinkActive="list-item-active" style="margin: 2%">Create New</a>
    </div>
    <table mat-table [dataSource]="properties" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="premises">
            <th mat-header-cell *matHeaderCellDef> Premises</th>
            <td mat-cell *matCellDef="let element">{{element.premises | json}}</td>
        </ng-container>



        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <a mat-raised-button (click)="EditProperty(element.id)" color="primary">Edit</a> |
                    <a mat-raised-button (click)="RemoveProperty(element.id)" color="accent">Delete</a>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

    </table>
</div>