<p>add-rental works!</p>

<div class="containerDiv">
    <form class="example-form" [formGroup]="addRentalForm" (ngSubmit)="saveRental()">


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select tenant</mat-label>
            <mat-select formControlName="tenantId">
                <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">{{tenant | json}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select premises</mat-label>
            <mat-select formControlName="premisesId">
                <mat-option *ngFor="let premis of premises" [value]="premis.id">{{premis | json}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- 
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rental price</mat-label>
            <input matInput placeholder="Rental price" formControlName="rentPrice">
        </mat-form-field> -->



        <div class="example-button-row" style="margin: 2px">
            <button mat-raised-button color="primary">Create new</button>
        </div>

    </form>
</div>