<h1>Add new rental</h1>

<div class="containerDiv">
    <form class="example-form" [formGroup]="addRentalForm" (ngSubmit)="saveRental()">


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select tenant</mat-label>
            <mat-select formControlName="tenantId">
                <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">{{tenant.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select premises</mat-label>
            <mat-select formControlName="premisesId">
                <mat-option *ngFor="let premis of premises" [value]="premis.id">{{premis.name}} - {{premis.property?.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Monthly rental price</mat-label>
            <input matInput type="number" placeholder="Rental price" formControlName="rentPrice">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rental period</mat-label>

            <mat-date-range-input [formGroup]="addRentalForm" [rangePicker]="picker">
                <input matStartDate formControlName="rentalStartDate" placeholder="Start date">
                <input matEndDate formControlName="rentalEndDate" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <!-- <mat-error *ngIf="addRentalForm.rentalStart.hasError('matStartDateInvalid')">Invalid start date
            </mat-error>
            <mat-error *ngIf="addRentalForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Part of the premises monthly costs paid by the tenant</mat-label>
            <input matInput type="number" placeholder="e.g. 0.5, 0.33" formControlName="costsPart">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Day of each month for the payment deadline</mat-label>
            <input matInput type="number" placeholder="e.g. 1, 10, 31" formControlName="paymentDay">
        </mat-form-field>

        <div class="example-button-row" style="margin: 2px">
            <button mat-raised-button color="primary">Create new</button>
        </div>

    </form>
</div>